.product {
  background-color: #F05E11;
  display: flex;
  min-height: calc(100vh - 50px);
  margin: 0 -15px;
  padding-top: 50px; }

.product-wrapper {
  height: calc(100% - 10px);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  color: white; }

.col {
  width: 100%; }

.product-search {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100vw;
  z-index: 100; }
  .product-search button {
    border-radius: 0px; }

.cart-drop {
  position: fixed;
  top: calc(50px + 34px);
  height: calc(100vh - 50px);
  display: none;
  align-items: center;
  justify-content: center; }
  .cart-drop img {
    max-width: 200px; }

.products-items .products-item {
  margin: 50px 0px;
  cursor: pointer;
  display: inline-block;
  padding: 0px 30px; }
  .products-items .products-item:hover {
    background-color: rgba(255, 255, 255, 0.3); }
  .products-items .products-item .item-image {
    padding: 10px; }
    .products-items .products-item .item-image img {
      height: 80px; }
