.count-wrapper{
	width: 20%;
	height: auto;
	float: right;
	color: #000000;
	background-color: rgba(255, 255, 255, 0.5);
	border-style: hidden hidden solid solid;
	border-width: 2px;
	padding-bottom: 5px;
	clear: left;
	.ng-scope{
		float: left;
		clear: right;
		width: 100%;
		background-color: transparent;
		margin-left: 10px;
		padding-bottom: 0px;
		border: hidden;
	}
}

.restock-wrapper{
	float: left;
	width: 70%;
	background-color: rgba(255, 255, 255, 0.5);
	border-style: hidden solid hidden hidden;
	border-width: 2px;
	color: #000000;
	padding-left: 5px;
	text-align: center;
}

.restock{
	float: left;
}

  .restock-item {
    margin: 50px 0px;
    cursor: pointer;
    display: inline-block;
    padding: 0px 30px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }

    .item-image {
      padding: 10px;

      img {
        height: 80px;
      }
    }

    .item-namn {
      width: 160px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    #minus{
    	float:left;
    }
    #plus{
    	float: left;
    }
  }