@import 'constant';

footer {
  background-color: $primary-color-1;
  border-top: 1px solid $primary-color-2;

  height: $height-footer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -15px;
}