@import 'constant';

.navbar {
  background-color: $primary-color-1;
  border-color: $primary-color-2;

  .navbar-nav {
    width: 100%;

    li {
      float: right;
      cursor : pointer;

      #chooseLanguageSwedish{
      line-height: 50px;
      }

      #chooseLanguageEnglish{
      line-height: 50px;
      }

		img{
		margin-left: 5px;
		margin-righ: 5px;
		height: 20px;
		}
		
    }
    li.left {
        float: left;
    }
  }
}