@import 'constant';

.main-page {
  height: $height-content;
  margin: 0 -15px;
  padding-top: 50px;
}

.main-container {
  margin-top: $height-header;
  min-height: $height-content;
}

.container-fluid {
    background:#F05E11;
    padding:0;
}

a[ng-click]{
    cursor: pointer;
}