@import 'constant';

.product {
  background-color: #F05E11;
  display: flex;
  min-height: $height-content;
  /* margin: 0 -15px; */
  padding-top: 50px;
}

.product-wrapper {
  height: calc(100% - 10px);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  color: white;
}

.col {
  width: 100%;
}

.product-search {
  position: fixed;
  top: $height-header;
  left: 0;
  width: 100vw;
  z-index:100;
  padding:15px 20%;
  background:#ffffff;

  button {
    border-radius: 0px;
  }
    .input-group-addon {
        border-right:0;
      label {
          font-weight:normal;
          cursor:pointer;
          line-height:1.42857143;
          margin-bottom:0;
      }
      input[type=checkbox] {
          vertical-align:middle;
      }
    }
}

.cart-drop-wrapper {
  position: fixed;
  top: calc(#{$height-header} + #{$height-search});
  height: $height-content;
  display: none;
  align-items: center;
  justify-content: center;

  .cart-drop {
    &.hovered {
      border-radius: 170px;
      background-color: rgba(255, 255, 255, 0.3);
      padding: 40px;
    }

    img {
      max-width: 150px;
    }
  }
}

.products-items {
  &.dragging {
    .products-item:hover {
      background-color: transparent !important;
    }  
  }
  
  .products-item {
    margin: 50px 0px;
    cursor: pointer;
    display: inline-block;
    padding: 0px 30px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }

    .item-image {
      padding: 10px;

      img {
        height: 80px;
      }
    }

    .item-namn {
      width: 160px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.modal-content {
  background-color: rgb(239, 121, 52);
  border: none;
  border-radius: 0px;
  color: #ECECEC;

  .customized-modal-body {
    .detail {
      width: 100%;
      display: flex;

      &>div {
        padding: 0 20px;
        &:nth-child(1) {
          flex: 1;
        }

        &:nth-child(2) {
          flex: 2;
        }
      }

      .detail-attribute {
        font-weight: 800;
      }
    }

    .checkout-row {
      display: flex;

      &.checkout-header {
        font-weight: 800;
      }

      &.checkout-total {
        font-weight: 800;
        margin-top: 20px;
      }

      &>div {
        flex: 1;
      }

      .checkout-name {
        flex: 2;
      }
    }
  }

  .customized-modal-footer {
    button {
      border-radius: 0px;
      width: 75px;
      border: none;
    }
  }
}