@import 'constant';

.product {
  background-color: #F05E11;
  display: flex;
  min-height: $height-content;
  margin: 0 -15px;
  padding-top: 50px;
}

.product-wrapper {
  height: calc(100% - 10px);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  color: white;
}

.col {
  width: 100%;
}

.product-search {
  position: fixed;
  top: $height-header;
  left: 0;
  width: 100vw;
  z-index:100;

  button {
    border-radius: 0px;
  }
}

.cart-drop {
  position: fixed;
  top: calc(#{$height-header} + #{$height-search});
  height: $height-content;
  display: none;
  align-items: center;
  justify-content: center;

  img {
    max-width: 200px;
  }
}

.products-items {
  .products-item {
    margin: 50px 0px;
    cursor: pointer;
    display: inline-block;
    padding: 0px 30px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }

    .item-image {
      padding: 10px;

      img {
        height: 80px;
      }
    }
  }
}