@import 'constant';

.container-signin {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: $height-content;

  .form-signin {
    max-width: 300px;
    margin-bottom: 50px;

    &>* {
      margin: 5px 0px;
    }

    input {
      text-align: center;
    }

    .slogan-signin {
      width: 100%;
      text-align: center;
      font-size: 30px;
    }

    .signin-button {
      width: 100%;
    }
  }
}