<div class="admin">
	<div class="count-wrapper" ng-class="{'is-signed-in': user.isSignedIn}">
		<div class="col count">
			<center><h4>Low stock of the following product(s):</h4></center>
			<div class="count-wrapper" data-ng-repeat="item in items" data-ng-if="item.count<=20">
				<div class="item-count">
					{{ item.namn }}:
					{{ item.count }} Left
				</div>
			</div>
		</div>
	</div>
	<div class="restock-wrapper">
		<h4>Stock refill</h4>
		<b>Select the beverage you want to adjust: </b></br>
		<div class="restock" data-ng-repeat="item in items">
			<div class="restock-item" id="restock-item-{{item.beer_id}}" ng-click="showAdjust = ! showAdjust">
				<div class="item-image">
					<img src="images/beer.svg" />
				</div>
				<div class="item-namn">
					{{ item.namn }}:
					{{ item.count }}
				</div>
				<div class="item-adjust" ng-class="{ 'hidden': ! showAdjust }">
					<div class="cart-item-quantity">
						<button class="btn btn-primary" data-ng-click="decrease(item.beer_id, item.count)">-</button>
						{{ item.quantity }}
						<button class="btn btn-primary" data-ng-click="increase(item.beer_id)">+</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>