<header class="navbar navbar-default navbar-fixed-top navbar-inner">
  <div class="container">
    <div class="navbar-header">
      <button 
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        ng-click="isCollapsed = !isCollapsed"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand visible-xs" href="#">The Flying Dutchman</a>
    </div>

    <nav class="hidden-xs">
      <ul class="nav navbar-nav">
        <a href="#/" role="button" class="navbar-brand">
          The Flying Dutchman
        </a>
        <li><a href="#/login">Log in</a></li>
      </ul>
    </nav>
    <nav class="visible-xs collapse" uib-collapse="!isCollapsed" style="height: 0px;">
      <ul class="nav navbar-nav">
        <li><a href="#" ng-click="isCollapsed = !isCollapsed">Demo button :)</a></li>
      </ul>
    </nav>
  </div>
</header>