<div class="product">
  <div class="product-wrapper" ng-class="{'is-signed-in': user.isSignedIn}">
    
    <div class="input-group product-search">
      <div class="input-group-btn search-panel">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span id="search_concept">Beverages</span> <span class="caret"></span>
        </button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span id="search_concept">Filter by</span> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#contains">Contains</a></li>
          <li><a href="#its_equal">It's equal</a></li>
          <li><a href="#greather_than">Greather than ></a></li>
          <li><a href="#less_than">Less than < </a></li>
          <li class="divider"></li>
          <li><a href="#all">Anything</a></li>
        </ul>
      </div>
      <input type="hidden" name="search_param" value="all" id="search_param">
      <input type="text" class="form-control" name="x" placeholder="Search term...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
      </span>
    </div>

    <div class="col products">
      <div class="products-items">
        <div class="product-item-wrapper col-md-3 col-sm-4 col-xs-6" data-ng-repeat="item in items">
          <div class="products-item" id="products-item-{{item.beer_id}}" draggable="true" data-ng-click="start()">
            <div class="item-image">
              <img draggable="false" src="images/beer.svg" />
            </div>
            <div class="item-namn">
              {{ item.namn }}
            </div>
            <div class="item-pub_price">
              {{ item.price }} Kr
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cart-drop">
      <img src="images/cart.svg" class="cart-drop-icon"/>
    </div>
  </div>

  <div 
    class="cart-wrapper" 
    data-ng-span="user.isSignedIn"
    data-ng-controller="CartCtrl" 
    data-ng-class="{'expanded': isExpanded}"
  >
    <div class="cart">
      <div class="cart-expand-stripe" data-ng-click="toggleCart()">
        <div class="stripe-content">
          {{ expandText }}
        </div>
      </div>
      <div class="cart-main">
        <div class="cart-items">
          <div class="cart-item" data-ng-repeat="item in items" data-ng-if="item">
            <div class="cart-item-name">
              {{ item.name }}
            </div>
            <div class="cart-item-price">
              {{ item.price }}
            </div>
            <div class="cart-item-quantity">
              <button class="btn btn-primary" data-ng-click="decreaseItem(item.id)">-</button>
              {{ item.quantity }}
              <button class="btn btn-primary" data-ng-click="increaseItem(item.id)">+</button>
            </div>
          </div>
        </div>

        <div class="cart-actions">
          <div class="cart-redo-undo">
            <button class="btn btn-danger">
              Redo
            </button>
            <button class="btn btn-primary">
              Undo
            </button>
          </div>
          <div class="cart-checkout">
            Checkout
          </div>
        </div>
      </div>
    </div>
    <div class="cart-phantom">
    </div>
  </div>
  <div class="cart-main">
  </div>
</div>