<div class="product">
  <div class="product-wrapper" ng-class="{'is-signed-in': user.isSignedIn}">
    
    <div class="input-group product-search">
        <!-- <div class="input-group-btn">
             <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
             <span class="current">Any</span> <span class="translate">beverages</span> <span class="caret"></span>
             </button>
             <ul class="dropdown-menu" role="menu">
             <li><a ng-click="type('beer')" class="translate"><i class="fa fa-check-square-o"></i> Beer</a></li>
             <li><a ng-click="type('cider')" class="translate"><i class="fa fa-check-square-o"></i> Cider</a></li>
             <li><a ng-click="type('vin')" class="translate"><i class="fa fa-check-square-o"></i> Wine</a></li>
             <li><a ng-click="type('whisky')" class="translate"><i class="fa fa-check-square-o"></i> Whiskey</a></li>
             <li class="divider"></li>
             <li><a ng-click="type('all')" class="translate">Any</a></li>
        </ul>
    </div> -->
      <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="translate">{{wordsList.isSwedish ? wordsList.words.id_14.swedishText : wordsList.words.id_14.englishText}}: </span>
              <span class="current">{{allergy}}</span>
              <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
              <li>
                  <a ng-click="allergyfn('gluten')" class="translate">
                      <i ng-show="!allergies['gluten']" class="fa fa-square-o"></i><i ng-show="allergies['gluten']" class="fa fa-check-square-o"></i> Gluten
                  </a>
              </li>
              <li>
                  <a ng-click="allergyfn('alcohol')" class="translate">
                      <i ng-show="!allergies['alcohol']" class="fa fa-square-o"></i><i ng-show="allergies['alcohol']" class="fa fa-check-square-o"></i> {{wordsList.isSwedish ? wordsList.words.id_23.swedishText : wordsList.words.id_23.englishText}}
                  </a>
              </li>
              <!-- <li class="divider"></li>
                   <li><a ng-click="allergy('no')" class="translate">None</a></li> -->
          </ul>
      </div>
      <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span>{{wordsList.isSwedish ? wordsList.words.id_15.swedishText : wordsList.words.id_15.englishText}}: </span>
              <span class="current">{{predicateName}}</span>
              <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
              <li><a ng-click="order($event, 'namn', false)" ng-show="predicate != 'namn'"
                     class="translate">{{wordsList.isSwedish ? wordsList.words.id_16.swedishText : wordsList.words.id_16.englishText}}</i>
              </a></li>
              <li><a ng-click="order($event, 'namn', true)" ng-show="predicate != '-namn'"
                     class="translate">{{wordsList.isSwedish ? wordsList.words.id_25.swedishText : wordsList.words.id_25.englishText}}</i>
              </a></li>
              <li><a ng-click="order($event, 'pub_price', false)" ng-show="predicate != 'pub_price'"
                     class="translate">{{wordsList.isSwedish ? wordsList.words.id_17.swedishText : wordsList.words.id_17.englishText}}</i>
              </a></li>
              <li><a ng-click="order($event, 'pub_price', true)" ng-show="predicate != '-pub_price'"
                     class="translate">{{wordsList.isSwedish ? wordsList.words.id_18.swedishText : wordsList.words.id_18.englishText}}</i>
              </a></li>
          </ul>
      </div>
      <!-- <span class="input-group-addon">
           <label ng-click="">
           <input type="checkbox"> <span class="translate"/>Gluten allergy</span>
           </label>
           </span> -->
      <input type="text" class="form-control" name="x" placeholder="{{wordsList.isSwedish ? wordsList.words.id_19.swedishText : wordsList.words.id_19.englishText}}" ng-model="search.namn"/>
      <!-- <span class="input-group-btn">
           <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
           </span> -->
    </div>

    <div class="col products">
      <div class="products-items" data-ng-class="{'dragging': dragging}">
          <div class="product-item-wrapper col-md-3 col-sm-6" data-ng-repeat="item in items | filter:filterAlcohol | filter:search | orderBy:predicate">
          <div class="products-item" id="products-item-{{item.beer_id}}" draggable="true" data-ng-click="showDrinksInfo(item.beer_id)">
            <div class="item-image">
              <img draggable="false" src="images/beer.svg" />
            </div>
            <div class="item-namn">
              {{ item.namn }}
            </div>
            <div class="item-price">
              {{ item.pub_price }} Kr
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cart-drop-wrapper">
      <div class="cart-drop" data-ng-class="{'hovered': canDrop}">
        <img src="images/cart.svg" class="cart-drop-icon"/>
      </div>
    </div>
  </div>

  <div 
    class="cart-wrapper" 
    data-ng-span="user.isSignedIn"
    data-ng-controller="CartCtrl" 
    data-ng-class="{'expanded': cart.isExpanded}"
  >
    <div class="cart">
      <div class="cart-expand-stripe" data-ng-click="toggleCart()">
        <div class="stripe-content">
          {{ expandText }}
        </div>
      </div>
      <div class="cart-main">
        <div class="cart-items">
          <div class="cart-item" data-ng-repeat="item in cart.items" data-ng-if="item">
            <div class="cart-item-namn">
              {{ item.namn }}
            </div>
            <div class="cart-item-price">
              {{ item.price }}
            </div>
            <div class="cart-item-quantity">
              <button class="btn btn-primary" data-ng-click="decreaseItem(item.beer_id)">◀</button>
              <input data-ng-model="item.quantity" />
              <button class="btn btn-primary" data-ng-click="increaseItem(item.beer_id)">▶</button>
            </div>
          </div>
        </div>

        <div class="cart-actions">
          <div class="cart-redo-undo">
            <button class="btn btn-danger" data-ng-click="redo()" data-ng-class="{'disabled': !cart.redoable}">
              {{wordsList.isSwedish ? wordsList.words.id_20.swedishText : wordsList.words.id_20.englishText}}
            </button>
            <button class="btn btn-primary" data-ng-click="undo()" data-ng-class="{'disabled': !cart.undoable}">
              {{wordsList.isSwedish ? wordsList.words.id_21.swedishText : wordsList.words.id_21.englishText}}
            </button>
          </div>
          <button class="btn btn-success cart-checkout">
            {{wordsList.isSwedish ? wordsList.words.id_22.swedishText : wordsList.words.id_22.englishText}} {{ totalPrice | price }} Kr
          </button>
        </div>
      </div>
    </div>
    <div class="cart-phantom">
    </div>
  </div>

  <div class="cart-main">
  </div>

  <script type="text/ng-template" id="drinksInfo.html">
    <div class="modal-header product-info-header">
      <h3 class="modal-title">{{ drink.namn }} <span style="float:right">{{ drink.pub_price }} Kr</span></h3>
    </div>
    <div class="modal-body product-info-body">
      <div class="detail">
        <div class="detail-attribute">
          saljstart
        </div>
        <div class="detail-value">
          {{ drink.detail.saljstart }}
        </div>
      </div>

      <div class="detail">
        <div class="detail-attribute">
          varugrupp
        </div>
        <div class="detail-value">
          {{ drink.detail.varugrupp }}
        </div>
      </div>

      <div class="detail">
        <div class="detail-attribute">
          forpackning
        </div>
        <div class="detail-value">
          {{ drink.detail.forpackning }}
        </div>
      </div>

      <div class="detail">
        <div class="detail-attribute">
          slutlev
        </div>
        <div class="detail-value">
          {{ drink.detail.slutlev }}
        </div>
      </div>

      <div class="detail">
        <div class="detail-attribute">
          forslutning
        </div>
        <div class="detail-value">
          {{ drink.detail.forslutning }}
        </div>
      </div>

      <div class="detail">
        <div class="detail-attribute">
          ursprung
        </div>
        <div class="detail-value">
          {{ drink.detail.ursprung }}
        </div>
      </div>

      <div class="detail">
        <div class="detail-attribute">
          ursprunglandnamn
        </div>
        <div class="detail-value">
          {{ drink.detail.ursprunglandnamn }}
        </div>
      </div>

      <div class="detail">
        <div class="detail-attribute">
          producent
        </div>
        <div class="detail-value">
          {{ drink.detail.producent }}
        </div>
      </div>

      <div class="detail">
        <div class="detail-attribute">
          leverantor
        </div>
        <div class="detail-value">
          {{ drink.detail.leverantor }}
        </div>
      </div>

      <div class="detail">
        <div class="detail-attribute">
          argang
        </div>
        <div class="detail-value">
          {{ drink.detail.argang }}
        </div>
      </div>

      <div class="detail">
        <div class="detail-attribute">
          provadargang
        </div>
        <div class="detail-value">
          {{ drink.detail.provadargang }}
        </div>
      </div>

      <div class="detail">
        <div class="detail-attribute">
          alkoholhalt
        </div>
        <div class="detail-value">
          {{ drink.detail.alkoholhalt }}
        </div>
      </div>

      <div class="detail">
        <div class="detail-attribute">
          sortiment
        </div>
        <div class="detail-value">
          {{ drink.detail.sortiment }}
        </div>
      </div>

      <div class="detail">
        <div class="detail-attribute">
          ekologisk
        </div>
        <div class="detail-value">
          {{ drink.detail.ekologisk }}
        </div>
      </div>

      <div class="detail">
        <div class="detail-attribute">
          koscher
        </div>
        <div class="detail-value">
          {{ drink.detail.koscher }}
        </div>
      </div>
    </div>
    <div class="modal-footer product-info-footer">
      <button class="btn btn-primary" type="button" data-ng-click="close()">close</button>
      <button class="btn btn-warning" type="button" data-ng-click="buy()">buy</button>
    </div>
  </script>
</div>
