<div class="container-signin">
    <div class="form form-signin">
        <h2 class="slogan-signin">
            <p> {{translation.words['LOGIN'] | translate}}</p>
        </h2>
        <div ng-class="{ 'hidden': ! showWrong }">{{translation.words['INVALID_USERNAME_OR_PASSWORD'] | translate}}</div>
        <form ng-submit="signIn(username, password)">
            <div class="form-group">
                <input type="string" class="form-control" data-ng-model="username" placeholder="{{translation.words['USERNAME'] | translate}}">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" data-ng-model="password" placeholder="{{translation.words['PASSWORD'] | translate}}">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default signin-button" ng-click="$timeout(show,100);"><i class="fa fa-sign-in"></i></button>
            </div>
        </form>
    </div>
</div>
