<div class="container-signin">
  <div class="form form-signin">
    <h2 class="slogan-signin">
      <p class="translate">Sign in</p>
    </h2>
    <form ng-submit="signIn(username, password)">
      <div class="form-group">
        <input type="string" class="form-control" data-ng-model="username" placeholder="Username">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" data-ng-model="password" placeholder="Password">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary signin-button"><i class="fa fa-sign-in"></i></button>
      </div>
    </form>
  </div>
</div>
